spring:
  application.name: medlineverbalorder
  jackson.serialization.write_dates_as_timestamps: false
  datasource:
    url: jdbc:postgresql://localhost:5432/medlineverbalorder
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  jpa.hibernate.ddl-auto: update
  jpa.show-sql: false
  liquibase:
    change-log: classpath:/db/changelog/db.changelog-master.xml
    drop-first: false
    contexts: sql
    enabled: true
###### SERVER CONFIGURATION ######
server:
  port: 8082
  compression:
    enabled: true
    mime-types: application/json
  error.include-message: always
  error.include-binding-errors: always
  error.include-exception: false
#spring actuator enpoints
management.endpoints.enabled-by-defautl: false
management.endpoints.health.enabled: true

#monad service ###################
monad-service:
#  main: http://localhost:8083/monad #local bilgisayarda
  main: http://localhost:8082/monad-service/monad #sucuda

###############LOG - NOT: PROD ORTAMINDA ŞİFRELERİ VS YAZAR. EKLENMEZ########
logging.level.org.springframework.web: INFO
logging.level.org.springframework.security: INFO
logging.level.org.springframework.web.client.RestTemplate: INFO
logging.level.web: INFO
#logging.level.org.springframework.actuator: TRACE
#logging.level.org.hibernate.SQL: TRACE
#logging.level.org.hibernate.type.descriptor.sql: TRACE
#logging.level.org.hibernate.type.descriptor.sql.BasicBinder: TRACE